.NavButton1 {
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid orange;
}

.NavButton2 {
  background-color: orange;
  color: white;
}

.ButtonStyle {
  wine {
    color: purple;
  }
  spirits {
    color: blue;
  }
  champagne {
    color: green;
  }
  beer {
    color: orange;
  }
  soft-drinks {
    color: lightblue;
  }
}
